.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
  }
  
  .profile-section-home,
  .settings,
  .book-flight,
  .search {
    margin-right: 20px;
    cursor: pointer;
    
  }

  .settings a {
    color: #fff;
    text-decoration-line: none;
  }
  .profile-section-home a {
    color: #fff;
    text-decoration-line: none;
  }
  .book-flight a {
    color: #fff;
    text-decoration-line: none;
  }
  .chatbot a {
    color: #fff;
    text-decoration-line: none;
  }

  .right-section {
    display: flex;
    align-items: right;
    color: #fff;
  }

  .header-logo {
    width: 5%;
    object-fit:scale-down;
    margin-top: 0px;
    left: 100%;
    cursor: pointer;
    margin-right: 20px;
}

.header-logo :hover {
    opacity: 0.5;
}

  